db.sqlite3
thai_school_alarm_web/__pycache__/
theme/__pycache__/
data/__pycache__/
celerybeat-schedule
alarm/
play_sound.log
data/migrations/__pycache__/
static/
info.log
debug.log
.env
/env
staticfiles
.venv_linux/
scripts/process_status.json
process_status.log
.venv
audio/uploads
data/lib/__pycache__
