{% extends 'base.html' %}

{% block sidebar %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        <a class="nav-link collapsed" href="/sound">
          <i class="bx bxs-user-voice"></i>
          <span>Sound</span>
        </a>
        <a class="nav-link collapsed" href="/setting">
          <i class="bx bx-cog"></i>
          <span>Setting</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->
    </ul>
  </aside>
  <!-- End Sidebar -->
{% endblock %}
