{% extends 'base_sidebar.html' %} {% block main %}
  <style>
    .form-control {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  </style>
  <main id="main" class="main">
    <div class="pagetitle">
      <h1>จัดการเสียง</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/setting">Sound</a>
          </li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">อัพโหลดเสียง</h5>
              <form action="POST" id="uploadForm">
                <div class="row mb-3">
                  <label for="inputText" class="col-md-3 col-form-label"><strong>เพิ่มเสียงจากเครื่องคอมพิวเตอร์</strong></label>
                  <div class="col-md-4">
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="file_upload">Upload</label>
                      <input type="file" class="form-control" id="file_upload" accept=".mp3,.wav" />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-success" title="เพิ่ม"><i class="bx bxs-cloud-upload"></i> อัพโหลด</button>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-12">
                    <div class="progress" style="height: 20px; display: none;" id="uploadProgressContainer">
                      <div class="progress-bar" id="uploadProgressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">จัดการข้อมูลเสียง</h5>
              <form id="speech_form" action="POST">
                <div class="row mb-3">
                  <label for="inputText" class="col-md-3 col-form-label"><strong>AI เพิ่มเสียงในฐานข้อมูล</strong></label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="inputText" maxlength="300" required autocomplete="off" />
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-success" title="เพิ่ม"><i class="bx bx-play-circle"></i> เพิ่ม</button>
                  </div>
                </div>
              </form>
              <table class="table" id="myTable">
                <thead>
                  <tr>
                    <th class="text-center">ลำดับที่</th>
                    <th>ชื่อ</th>
                    <th class="text-center">จัดการ</th>
                  </tr>
                </thead>
                <tbody>
                  {% for audio in audios %}
                    <tr>
                      <td class="text-center">{{ forloop.counter }}</td>
                      <td>{{ audio.name }}</td>
                      <td>
                        <button type="button" class="btn btn-danger" title="ลบ" onclick="return removeAudio({{ audio.id }})"><i class="bx bxs-trash"></i></button>
                        <button type="button" class="btn btn-info play-audio-btn" title="เล่นเสียง" data-id="{{ audio.id }}"><i class="bx bx-play-circle"></i></button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const dataTable = new simpleDatatables.DataTable('#myTable', {
        searchable: true,
        fixedHeight: false,
        perPage: 50,
        perPageSelect: [10, 25, 50, 100]
      })
    })
  </script>

  <script>
    function getCookie(name) {
      let cookieValue = null
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';')
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim()
          // Check if the cookie contains the CSRF token name
          if (cookie.substring(0, name.length + 1) === name + '=') {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
            break
          }
        }
      }
      return cookieValue
    }
    
    function removeAudio(audioId) {
      if (confirm('Are you sure you want to delete this schedule?')) {
        const csrftoken = getCookie('csrftoken')
        fetch(`/delete_audio/${audioId}/`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
          }
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`)
            }
            return response.json()
          })
          .then((data) => {
            console.log('Audio deleted successfully:', data)
            // Optionally, update the UI or perform other actions upon successful deletion
            location.reload()
          })
          .catch((error) => {
            console.error('Error deleting schedule:', error)
            // Handle errors or display an error message to the user
          })
      }
      return false // Prevent default action of the button
    }
    
    async function playAudio(audioId) {
      const csrftoken = getCookie('csrftoken')
    
      try {
        const response = await fetch(`/play_audio/${audioId}/`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken
          }
        })
    
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`)
        }
    
        const data = await response.json()
        console.log('Audio played successfully:', data)
    
        return data // ส่งข้อมูลกลับ ถ้าจำเป็นต้องใช้
      } catch (error) {
        console.error('Error playing audio:', error)
        return null // ส่งค่า null ถ้าเกิดข้อผิดพลาด
      }
    }
    
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
      event.preventDefault()
    
      let fileInput = document.getElementById('file_upload')
      let file = fileInput.files[0]
    
      if (!file) {
        alert('กรุณาเลือกไฟล์ก่อนอัพโหลด!')
        return
      }
    
      if (!file.name.endsWith('.mp3') && !file.name.endsWith('.wav')) {
        alert('กรุณาเลือกไฟล์ MP3 และ Wave เท่านั้น!')
        return
      }
    
      let formData = new FormData()
      formData.append('file', file)
    
      const progressContainer = document.getElementById('uploadProgressContainer')
      const progressBar = document.getElementById('uploadProgressBar')
      progressContainer.style.display = 'block'
    
      fetch('/api/upload/', {
        method: 'POST',
        body: formData
      })
        .then((response) => {
          const reader = response.body.getReader()
          const contentLength = response.headers.get('Content-Length')
    
          let receivedLength = 0
          return new Response(
            new ReadableStream({
              start(controller) {
                function read() {
                  reader.read().then(({ done, value }) => {
                    if (done) {
                      controller.close()
                      return
                    }
                    receivedLength += value.length
                    const progress = Math.round((receivedLength / contentLength) * 100)
                    progressBar.style.width = progress + '%'
                    progressBar.innerHTML = progress + '%'
                    controller.enqueue(value)
                    read()
                  })
                }
                read()
              }
            })
          )
        })
        .then((response) => response.json())
        .then((result) => {
          alert('อัพโหลดสำเร็จ: ' + result.message)
          location.reload()
        })
        .catch((error) => {
          alert('เกิดข้อผิดพลาด!')
          console.error('Error:', error)
        })
        .finally(() => {
          progressContainer.style.display = 'none'
        })
    })
    
    document.getElementById('speech_form').addEventListener('submit', function (event) {
      event.preventDefault()
      const inputText = document.getElementById('inputText').value
      const data = {
        text: inputText
      }
    
      const csrftoken = getCookie('csrftoken')
      const submitButton = event.target.querySelector('button[type="submit"]')
      submitButton.disabled = true
      const originalText = submitButton.innerHTML
      submitButton.innerHTML = 'กำลังดำเนินการ...'
    
      fetch('/create_audio', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data)
      })
        .then((response) => response.json())
        .then((data) => {
          // Handle the response data
          console.log('Success:', data)
          location.reload()
        })
        .catch((error) => {
          console.error('Error:', error)
        })
        .finally(() => {
          submitButton.disabled = false
          submitButton.innerHTML = originalText // Restore the original button text
        })
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.play-audio-btn').forEach((button) => {
        button.addEventListener('click', async function () {
          const audioId = this.getAttribute('data-id')
          const icon = this.querySelector('i') // ดึงไอคอนภายในปุ่ม
    
          // เปลี่ยนเป็นไอคอนหยุดก่อนเล่น
          icon.classList.replace('bx-play-circle', 'bx-stop-circle')
    
          try {
            await playAudio(audioId) // รอให้ playAudio ทำงานเสร็จ
          } catch (error) {
            console.error('Error playing audio:', error)
          } finally {
            // เปลี่ยนกลับเป็นไอคอนเล่น ไม่ว่าฟังก์ชันจะสำเร็จหรือล้มเหลว
            icon.classList.replace('bx-stop-circle', 'bx-play-circle')
          }
        })
      })
    })
  </script>
{% endblock %}
